/** Variables */

:root {
  --font-family--body: 'Mona Sans', sans-serif;
  --font-family--brush: 'Caveat Brush', cursive;
  --font-family--handwriting: 'Reenie Beanie', cursive;

  --font-size--sm: 0.8125rem;
  --font-size--md: 1rem;
  --font-size--lg: 1.25rem;
  --font-size--xl: 2rem;
  --font-size--2xl: 4.75rem;

  --color--white: 0 0% 100%;
  --color--black: 0 0% 0%;
  --color--gray--100: 0 0% 90%;
  --color--gray--700: 0 0% 32%;
  --color--gray--800: 0 0% 20%;
  --color--blue--400: 191 59% 55%;
  --color--blue--700: 191 46% 29%;
  --color--blue--900: 198.8 39% 16%;
}

/** Fonts */

@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/mona-sans/mona-sans-variable.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caveat Brush';
  src: url('/fonts/caveat-brush/caveat-brush.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reenie Beanie';
  src: url('/fonts/reenie-beanie/reenie-beanie.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

/** Defaults */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-size: var(--font-size--md);
  color: hsl(var(--color--gray--700));
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/** Fonts */

.body-font {
  font-family: var(--font-family--body);
  font-weight: 400;
  line-height: 1.6;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-optical-sizing: auto;
}

.brush-font {
  font-family: var(--font-family--brush);
  font-weight: 400;
  line-height: 1;
  font-style: normal;
}

.handwriting-font {
  font-family: var(--font-family--handwriting);
  font-weight: 400;
  line-height: 1;
  font-style: normal;
}
