/** Variables */

:root {
  --font-family--primary: 'Karla', sans-serif;

  --font-size--md: 1rem;
  --font-size--lg: 1.25rem;

  --color--white: 0 0% 100%;
  --color--black: 0 0% 0%;
  --color--gray--700: 0 0% 32%;
  --color--blue--400: 191 59% 55%;
  --color--blue--700: 191 46% 29%;
}

/** Fonts */

@font-face {
  font-family: 'Karla';
  src: url('/fonts/karla-variable-subset.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

/** Defaults */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/** Fonts */

body {
  font-family: var(--font-family--primary);
  font-size: var(--font-size--md);
  color: hsl(var(--color--gray--700));
  line-height: 1.5;
}
