---
import Layout from '@layouts/Layout.astro';

import Container from '@components/Container.astro';
import NotFound from '@components/NotFound.astro';
---

<Layout title="404 (Not Found) | Vacations with Character" noindex>
  <main>
    <Container size="sm">
      <NotFound />
    </Container>
  </main>
</Layout>
