---
import { Image } from 'astro:assets';

import Layout from '@layouts/Layout.astro';

import Container from '@components/Container.astro';
import ContactForm from '@components/ContactForm.astro';
import Header from '@components/Header.astro';

import ContactImage from '@assets/images/disneyCharacters-4x3.jpg'
import ContactBlip from '@components/ContactBlip.astro';
---

<Layout
  title="Contact | Vacations with Character"
  description="This page is under construction. Visit again soon!"
>
  <section class="section">
    <Container size="md">
      <div class="layout">
        <div class="card main">
          <Header
            as="h1"
            family="brush"
            size="2xl"
            color="navy"
          >
            Contact
          </Header>
          <p class="description">Ready to Begin the Memories? Have a specific question you'd like to have answered? Feel free to reach out to us and we'd love to help!</p>
          <ContactForm/>
        </div>
        <div class="right">
          <div class="media">
            <Image
              class="image"
              src={ContactImage}
              alt="Disney characters standing in front of the Magic Kingdom castle"
              sizes="(min-width: 1280px) 516px, (min-width: 992px) calc((85vw - 3rem - 4px) / 2), calc(85vw - 4px)"
              widths={[516 * 2, 516]}
              loading="eager"
            />
          </div>
          <div class="blips">
            <ContactBlip
              icon="email"
              linkProps={{
              href: 'mailto:info@vacationswithcharacter.com',
              target: '_blank',
              rel: 'noopener noreferrer',
              }}
            >
              info@vacationswithcharacter.com
            </ContactBlip>
            <ContactBlip
              icon="phone"
              linkProps={{
                href: 'tel:8009083005',
                target: '_blank',
                rel: 'noopener noreferrer',
              }}
            >
              (800) 908-3005
            </ContactBlip>
          </div>
        </div>
      </div>
    </Container>
  </section>
</Layout>

<style>
  .section {
    margin-block: 7rem;
  }

  .layout {
    display: grid;
    gap: 3rem;
    align-items: start;
  }

  .card,
  .blips {
    padding: 3rem;
    border-radius: 1.5rem;
    background-color: hsl(var(--color--white));
    drop-shadow: 0 0 1rem hsl(var(--color--black) / 10%);
    border-width: 2px;
    border-style: solid;
    border-color: hsl(var(--color--gray--100));
  }

  .blips {
    display: grid;
    gap: 1.5rem;
  }

  .description {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-wrap: balance;
  }

  .image {
    height: auto;
    background-color: hsl(var(--color--gray--100));
    border-radius: 1.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: hsl(var(--color--gray--100));
  }

  .right {
    display: grid;
    gap: inherit;
  }

  @media (width >= 62rem) {
    .layout {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>