---
import ComingSoon from '../components/ComingSoon.astro';
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <Container size="sm">
      <ComingSoon title="Contact" />
    </Container>
  </main>
</Layout>
