---
import Layout from '@layouts/Layout.astro';

import ComingSoon from '@components/ComingSoon.astro';
import Container from '@components/Container.astro';
---

<Layout
  title="Destinations | Vacations with Character"
  description="This page is under construction. Visit again soon!"
>
  <main>
    <Container size="sm">
      <ComingSoon title="Destinations" />
    </Container>
  </main>
</Layout>
