---
import Layout from '@layouts/Layout.astro';

import Hero from '@components/Hero.astro';
import CTA from '@components/CTA.astro';
import Promise from '@components/Promise.astro';
import Services from '@components/Services.astro';
---

<Layout
  title="Home | Vacations with Character"
  description="Vacations with Character offers expert planning for Disney, Universal, cruises, all-inclusive resorts, and more. Book a vacation with a personal touch today!"
>
  <main>
    <Hero />
    <Services />
    <Promise />
    <CTA />
  </main>
</Layout>
