---
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <Hero />
    <Services />
  </main>
</Layout>
