---
import Article from '../components/Article.astro';
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Privacy Policy | Vacations with Character"
  description="Read our Privacy Policy to learn how we protect your data."
>
  <main>
    <Container size="sm">
      <div class="page">
        <Article>
          <h1>Privacy Policy</h1>
          <p>
            <h2>What information do we collect?</h2>
          </p>
          <p>
            We collect information from you when you book a vacation, subscribe
            to our blog, or fill out a form. Note: you may also visit our
            website anonymously.
          </p>
          <h2>What do we use your information for?</h2>
          <p>
            Any of the information we collect from you may be used in one of the
            following ways:
          </p>
          <ul>
            <li>
              To personalize your experience - your information helps us to
              better respond to your individual needs.
            </li>
            <li>
              To improve our website - we continually strive to improve our
              website offerings based on the information and feedback we
              receive.
            </li>
            <li>
              To improve customer service - your information helps us to more
              effectively respond to your customer service requests and support
              needs.
            </li>
            <li>
              To process transactions - your information, whether public or
              private, will not be sold, exchanged, transferred, or given to any
              other company for any reason whatsoever, without your consent,
              other than for the express purpose of delivering the purchased
              product or service requested.
            </li>
            <li>
              To send periodic emails that pertain to your booking or inquiry.
            </li>
          </ul>
          <p>
            <h2>How do we protect your information?</h2>
          </p>
          <p>
            We implement a variety of security measures to maintain the safety
            of your personal information. We offer the use of a secure server
            utilizing SSL technology and encryption. Your information is also
            only accessible by those authorized with special access rights to
            such systems and are required to keep your information confidential.
          </p>
          <p>
            <h2>California Online Privacy Protection Act Compliance</h2>
          </p>
          <p>
            Because we value your privacy we have taken the necessary
            precautions to be in compliance with this act and therefore will not
            distribute your personal information to outside parties without your
            consent.
          </p>
          <p>
            <h2>Children's Online Privacy Protection Act Compliance</h2>
          </p>
          <p>
            We are in compliance with the COPPA requirements and do not collect
            any information from anyone under 13 years of age.
          </p>
          <p>
            This online privacy policy applies only to information collected
            through our website and not to information collected offline. Your
            Consent By using our site you consent to our web site privacy
            policy.
          </p>
          <h2>Updates</h2>
          <p>
            Changes to our privacy policy will be posted on this page. This
            policy was last updated on August 25, 2019
          </p>
          <p>
            If there are any questions or concerns, please contact us at:
            info@vacationswithcharacter.com USA 800-908-3005
          </p>
        </Article>
      </div>
    </Container>
  </main>
</Layout>

<style>
  .page {
    margin-block: 3rem;
  }
</style>
