---
import Article from '../components/Article.astro';
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <Container size="sm">
      <div class="page">
        <Article>
          <h1>Terms & Conditions</h1>
          <p>Terms & Conditions of Vacations with Character&reg; LLC.</p>
          <p>
            We are Vacations with Character®, LLC and we look forward to the
            opportunity to act as your booking agent for your travel needs!
            These terms and conditions (the “Agreement”) describe what you are
            legally entitled to expect from us when you purchase travel-related
            services through us, in addition to your obligations as a customer.
            The terms “we”, “us” and “our” refer to Vacations with Character®,
            LLC, our agents, and employees (herein referred to as VWC). The
            terms “you” and “your” refer to the customer/client and all
            travelers in your travel party visiting our website or social media
            pages, booking a reservation through us, or otherwise using our
            services. Please thoroughly review these terms and conditions of
            Vacations with Character®, LLC. All travel related services
            provided through this site are done in accordance with the following
            Consumer Disclosure Notice:
          </p>
          <h2>1. OUR AGREEMENT WITH YOU - Products and Suppliers</h2>
          <p>
            We sell a variety of travel related products from different
            suppliers and service providers ("Suppliers"). Each Supplier has its
            own terms and condition that are applicable to your particular
            arrangements in addition to our general terms and conditions, and
            you should make sure you understand them. Certain software and
            content found on our website are owned or licensed by us or our
            Suppliers and your use of these may be subject to further
            conditions.
          </p>
          <p>
            OUR WEBSITE, which is referred throughout this Agreement, can be
            found at www.vacationswithcharacter.com. VWC is acting as
            intermediary or a "Booking Agent" for products and services that are
            not directly supplied by us (e.g., air carriage and ground
            transportation, hotel accommodations, meals, tours, cruises, travel
            protection companies, attractions, etc.). We are NOT a co-vendor of
            such products and services. You will be entering into a separate
            contract with such Suppliers in connection with such products and
            services.
          </p>
          <p>
            DEPOSITS AND PAYMENT: Payment of a deposit enables us to hold a
            reservation for you. When you make a payment, you are authorizing us
            to make the payment arrangements directly with the corresponding
            Suppliers. We never accept payments to our agency and reserve the
            right to refuse personal checks as a method of payment. Paying a
            deposit and/or balance on a reservation booked through VWC indicates
            a valid and active reservation with VWC. You agree to abide by all
            cancellation policies and terms and conditions set forth by VWC and
            any and all Suppliers and third parties. You agree that reservation
            booking is assigned to VWC and may not be released or reassigned to
            another party, supplier, third party or you directly. Use of the
            services provided by VWC, our agent affiliates, or employees for the
            purpose of making travel arrangements, retention of tickets,
            reservations, or bookings after issuance shall constitute a consent
            to all of the Terms and Conditions and an agreement by you.
          </p>
          <p>
            DOCUMENTATION: Our general practice is to send documents to our
            customers electronically or via mail where paper documents are
            mailed by a Supplier.
          </p>
          <p>
            CANCELLATIONS AND CHANGES: Suppliers may cancel or amend bookings.
            If we are your Booking Agent, we will ensure that you are promptly
            notified of any significant changes once we become aware of such
            change if there is time before your departure, but we accept no
            liability for any changes or costs incurred that may result. Subject
            to the Supplier's terms and conditions, you will then have the
            choice of accepting the change of arrangements, accepting an offer
            of alternative travel arrangements if one is made available by the
            Supplier, or canceling your booked arrangements and receiving any
            applicable refunds. We do not guaranty that any refunds will apply.
          </p>
          <p>
            If you have booked a flight and we are alerted to a significant
            schedule change by your airline before you leave the United States,
            we will contact you by email to advise you of this. Please ensure
            that you have given your contact email address to us and that you
            regularly check for messages before you leave. We have no control
            over airline schedule changes and accept no liability for costs
            which may arise as a result of such changes. We strongly recommend
            that you contact your airline at least 72 hours before the scheduled
            departure of each flight. Please note that for some airlines it is
            mandatory to confirm with them your intention to fly. After you have
            left the U.S., it is your responsibility to check with the airline
            that any onward flights you have confirmed are operating as booked.
          </p>
          <p>
            IF YOU CHANGE YOUR BOOKING: Where a change requested by you to your
            travel arrangements is permitted and possible, we do not charge a
            service fee however, there may be additional Supplier charges. All
            reservation changes are subject to availability and the terms and
            conditions of the Supplier. Please note: changes to name details are
            not allowed by many airlines and many Suppliers. While we will
            endeavor make such a change if necessary, please bear in mind that
            most airlines and Suppliers treat a name change as a cancellation,
            to which standard conditions and charges would apply. Flights must
            be taken in the sequence they appear on your ticket or e-ticket
            confirmation. If you plan not to take a flight as booked, please
            contact the airline as far in advance as possible to discuss your
            options. If you do not check in on time for a confirmed reservation,
            the airline may register you as a 'no-show', which could result in
            extra charges and/or your whole flight itinerary being cancelled
            and/or render your ticket void.
          </p>
          <p>
            IF YOU CANCEL YOUR BOOKING: If you cancel your arrangements, our
            agency does not charge a fee and you may be entitled to a refund or
            partial refund in accordance with the cancellation terms and
            conditions of your Supplier(s).
          </p>
          <h2>
            2. YOUR AGREEMENT WITH US - Your Acceptance of These Terms and
            Conditions
          </h2>
          <p>
            By booking your arrangement with us or using our website, you are
            agreeing to be bound by the terms of this Agreement, including Parts
            1-3 of this Agreement and any additional terms and conditions of any
            Supplier that are applicable to your booking, travel arrangements or
            use of any website content.
          </p>
          <p>
            You agree on behalf of yourself and those you represent to comply
            with all such terms and conditions, including to provide accurate,
            LEGAL names and information as per your government issued required
            id's, and abide by the due dates set forth for the payment of all
            amounts when due.
          </p>
          <p>
            Once your travel has been booked and you receive receipt of your
            confirmation, it is your responsibility to ensure that all of the
            details on your travel documents are correct. You agree to bring to
            our attention any errors, omissions, or discrepancies immediately.
            You voluntarily assume full & sole responsibility for any and all
            risks and/or costs involved with failure to report such errors
            and/or omissions.
          </p>
          <p>
            Your travel documents are valuable and should be safeguarded as if
            they were cash. It is not always possible to replace travel
            documents in the case of loss, theft, damage, etc. You agree that
            any violation of any such terms and conditions may result in (a) the
            cancellation of your reservation or purchase, (b) your forfeiture of
            any monies paid for your reservation or purchase, (c) you being
            denied access to the applicable travel related product or service,
            (d) additional fees charged by the Supplier, and (e) our right to
            charge you for any costs we incur as a result of such violation.
          </p>
          <p>
            You represent and warrant that (a) you are of sufficient age to use
            our services and website and can create binding legal obligations in
            connection with your use, (b) you are legally authorized to act on
            behalf of those you represent and accept these terms and conditions
            on their behalf, and (c) the information supplied by you or members
            of your group is true and correct. You are responsible for informing
            such other persons of all terms and conditions applicable to their
            travel arrangements. You understand that you are financially
            responsible for any use of our services or website by you and those
            using your name or account.
          </p>
          <p>
            You voluntarily assume all risks involved in such travel, whether
            expected or unexpected. You are hereby warned of the risks listed
            below as well as possible travel industry bankruptcies and medical
            and climatic disruptions, and the possibility you may be unable to
            travel as scheduled because of personal emergency.
          </p>
          <p>
            TRAVEL DOCUMENTS AND DESTINATIONS - Prior to booking international
            travel, we recommend that you review any U.S. Government's
            prohibitions, warnings and advisories applicable to your
            destinations. By offering travel to any particular destination, we
            do not represent that travel in such destination is safe or without
            risk. You further agree that in connection with your activities, you
            will not permit the use of our services or website by anyone that
            resides or is staying in a country for which such use is prohibited
            under U.S. regulations.
          </p>
          <p>
            PASSPORT, VISA AND IMMIGRATION - It is your responsibility to
            fulfill the passport, visa and other immigration requirements
            applicable to your itinerary. You should confirm these with the
            relevant embassies and/or consulates. We do not accept any
            responsibility in the case of you being unable to travel due to not
            complying with any such requirements.
          </p>
          <p>
            TRAVEL ADVICE AND VACCINATIONS - U.S. Citizens should refer to the
            travel advice posted by the U.S. Department of State at
            travel.state.gov for all the countries you intend to visit.
            Vaccinations may be required for some or all of the places you are
            intending to visit. It is your responsibility to ensure that you
            have arranged all necessary vaccinations for your itinerary.
          </p>
          <p>
            For information concerning possible dangers at international
            destinations, contact the Travel Advisory Section of the U. S. State
            Department on-line at:
            https://travel.state.gov/content/passports/en/alertswarnings.html.For
            medical information, contact the U. S. Centers for Disease Control
            (CDC) online at: https://wwwnc.cdc.gov/travel. By embarking upon
            his/her travel, the traveler voluntarily assumes all risks involved
            in such travel, whether expected or unexpected
          </p>
          <p>
            INSURANCE - Travel Protection plans are available to help protect
            you and your trip investment. Travel Protection Policies offered by
            most major travel insurance providers include benefits such as Trip
            Cancellation, Trip Interruption, Emergency Medical and Emergency
            Evacuation/Repatriation, Trip Delay, Baggage Delay and more. Please
            contact your Travel Professional or call us at 770-367-1780 to learn
            more about the available plans.
          </p>
          <p>
            If you purchase travel insurance we urge you to read your policy
            when it arrives as it contains important information. This
            information includes, but is not limited to, details on the extent
            of coverage and procedures for making a claim. All requests for
            service under the policy must be filed directly with the travel
            insurance provider, in accordance with the policy terms and
            conditions, which you the passenger are responsible for reviewing
            upon receipt of your travel protection policy. VWC is not able to
            give advice with regard to possible cancellations and any associated
            claims processing. All queries regarding cancellation, penalties,
            coverage should be directed to your particular travel insurance
            provider. Please note that the travel insurance provider may not be
            allowed to discuss your claim with VWC due to privacy laws (e.g.
            HIPAA). Accordingly, you acknowledge that VWC cannot be involved in
            any aspect of your claim/request for service. Passenger(s)
            acknowledge and agree that VWC has no control over the travel
            insurance provider or its coverage decisions, and as a result VWC is
            not responsible for and shall not be liable for policy coverage,
            claims processing, or the denial of any claims.
          </p>
          <p>
            AIRLINES AND LUGGAGE HANDLING - Each airline Supplier has its own
            policy regarding luggage. VWC is not responsible for any lost,
            damaged, or delayed luggage. We recommend all Traveler(s) check with
            their airline ahead of time for any weight restrictions and
            additional charges relating to checked baggage. You are responsible
            for paying to the airline any additional charges for checked or
            overweight baggage, including, but not limited to, golf bags and
            oversized luggage. If the weight limit set by airline is exceeded,
            and excess weight is permitted, you must pay a supplement directly
            to the airline at the airport. The airline is liable to you for the
            baggage they entrust to it only for the compensation contemplated in
            the international conventions and relevant statutes. In the event of
            damage, late forwarding, theft or loss of luggage, you should
            contact the your airline and declare the damage, absence or loss of
            personal effects before leaving the airport, and then submit a
            declaration, attaching the originals of the following documents: the
            travel ticket, the baggage check-in slip, and the declaration.
          </p>
          <p>
            HAZARDOUS MATERIALS DISCLOSURE - Federal law forbids the carriage of
            hazardous materials aboard aircraft in your luggage or on your
            person. A violation can result in five years' imprisonment and
            serious penalties of $250,000 or more (49 U.S.C. 5124). Hazardous
            materials include explosives, compressed gases, flammable liquids
            and solids, oxidizers, poisons, corrosives and radioactive
            materials. Examples: paints, lighter fluid, fireworks, tear gases,
            oxygen bottles and radio-pharmaceuticals. There are special
            exceptions for small quantities of medicinal and toilet articles
            carried in your luggage and certain smoking materials carried on
            your person. For further information review the information found on
            the TSA website: https://www.tsa.gov/travel
          </p>
          <p>
            COMPLAINTS - If you have a problem during your holiday, please
            inform the relevant Supplier (e.g. your hotel) immediately. Should
            they be unable to resolve the matter, please immediately contact us
            in the United States, either through the agent where you made your
            arrangements, or at www.vacationswithcharacter.com. If you fail to
            timely contact us, we will not be permitted the opportunity to
            investigate your complaint and attempt to rectify any error while
            you are away, and this may affect your rights under this Agreement.
          </p>
          <p>
            USE OF OUR SERVICES AND WEBSITE - You agree you will only use our
            website or services to make legitimate reservations or purchases and
            shall not make speculative, false or fraudulent reservations or
            reservations in anticipation of demand. You will only use our
            website and services in compliance with applicable law. Without our
            prior written permission, you may not (a) access, monitor or copy
            any content or information on our website using any "robot",
            "spider" or other automated or manual device or program, (b) deep
            link to any portion of our website, or (c) "frame" or incorporate
            any portion of our website into any other website.Our website may
            contain links to third party websites that we provide only as a
            convenience to you. You should take precautions to ensure that
            whatever links you access are free of viruses, worms, Trojan horses
            or other destructive mechanisms The existence of these links does
            not imply that we endorse such websites or any included content. We
            are not responsible for such websites or content or any data privacy
            practices of such websites.
          </p>
          <p>
            IDEMNIFICATION - You agree to indemnify us, our employees, agents,
            our affiliates, and any of our Suppliers, and any such parties'
            officers, directors, employees and agents from and against any
            claims, causes of action, demands, losses, damages, or other costs,
            (including reasonable legal and accounting fees) brought by you or
            third parties as a result of (a) your breach of this Agreement, (b)
            your violation of any law or rights of any third party, or (c) your
            use of our website. Privacy Policy You consent to our processing and
            sharing of personal information about you and other members of your
            party that you have provided to us in accordance with the terms of
            and for the purposes set forth in our privacy policy. You represent
            that you have read and agree to the terms of our privacy policy,
            which can be found at our website.
          </p>
          <h2>
            3. ADDITIONAL TERMS, WARRANTIES, DISCLAIMERS AND LIMITATION OF
            LIABILITY
          </h2>
          <p>
            FOR THE AVOIDANCE OF DOUBT, REFERENCES HEREIN TO "US" "WE" AND "OUR"
            SHALL REFER TO VWC AND, OUR AFFILIATES, AND EMPLOYEES.
          </p>
          <p>
            WE ARE NOT RESPONSIBLE FOR THE INFORMATION, SOFTWARE, PRODUCTS, AND
            SERVICES PROVIDED BY OUR SUPPLIERS AND PUBLISHED ON OUR WEBSITE. WE
            DO NOT GUARANTEE THE ACCURACY OF, AND DISCLAIM ALL LIABILITY FOR ANY
            ERRORS OR OTHER INACCURACIES RELATING TO SUCH INFORMATION. WE
            EXPRESSLY RESERVE THE RIGHT TO CORRECT ANY PRICING ERRORS ON OUR
            WEBSITE AND/OR ON PENDING RESERVATIONS MADE UNDER AN INCORRECT
            PRICE. IN SUCH EVENT, IF AVAILABLE, WE WILL OFFER YOU THE
            OPPORTUNITY TO KEEP YOUR PENDING RESERVATION AT THE CORRECT PRICE OR
            WE WILL CANCEL YOUR RESERVATION WITHOUT PENALTY. ANY RATINGS FOR
            SUPPLIERS ARE INTENDED ONLY AS GENERAL GUIDELINES, AND WE DO NOT
            GUARANTEE THE ACCURACY OF THE RATINGS.
          </p>
          <p>
            WE MAKE NO GUARANTEES ABOUT THE AVAILABILITY OF SPECIFIC PRODUCTS
            AND SERVICES. WE MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY OF
            THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES PROVIDED BY US OR
            CONTAINED ON OUR WEBSITE FOR ANY PURPOSE. THE INCLUSION OR OFFERING
            OF ANY PRODUCTS OR SERVICES BY US DOES NOT CONSTITUTE OUR
            ENDORSEMENT OR RECOMMENDATION OF SUCH PRODUCT OR SERVICE.
          </p>
          <p>
            ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES ARE PROVIDED
            "AS IS" WITHOUT WARRANTY OF ANY KIND. WE DISCLAIM ALL WARRANTIES
            THAT OUR WEBSITE, ITS SERVERS OR ANY EMAIL SENT FROM US OR OUR
            SUPPLIERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. WE HEREBY
            DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS
            INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES, INCLUDING ALL IMPLIED
            WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A
            PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT. WARRANTY DISCLAIMERS
            MAY VARY FROM STATE TO STATE. THE CARRIERS, HOTELS AND OTHER
            SUPPLIERS PROVIDING TRAVEL OR OTHER SERVICES ON OUR WEBSITE OR FOR
            YOUR VACATION ARE INDEPENDENT CONTRACTORS AND NOT EMPLOYEES OF VWC.
          </p>
          <p>
            WE ARE NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS,
            WARRANTIES, BREACHES OF CONTRACT, FAILURE TO COMPLY WITH ANY LAWS
            (E.G. THE AMERICANS WITH DISABILITIES ACT), OR NEGLIGENCE OR ANY
            INTENTIONAL OR NEGLIGENT ACTIONS OR OMISSIONS ON THE PART OF ANY
            SUCH SUPPLIERS, WHICH RESULT IN ANY LOSS, DAMAGE, DELAY,
            INCONVENIENCE, PERSONAL INJURY, DEATH, PROPERTY DAMAGE OR OTHER
            DAMAGES OR EXPENSES RESULTING THEREFROM. WITHOUT LIMITATION, YOU
            ASSUME THE RISK OF, AND AGREE THAT VWC IS NOT LIABLE FOR ANY
            INJURIES, DAMAGES OR LOSSES ARISING FROM OR RELATED TO ANY ACT OF
            GOD OR PUBLIC ENEMIES, ARREST, RESTRAINTS OF ANY GOVERNMENT OR
            RULERS OF PEOPLE, LOCAL LAWS, PIRACY, WAR, REVOLUTION, EXTORTION,
            TERRORIST ACTIVITY, THREATENED OR ACTUAL REBELLION, POLITICAL
            UPHEAVAL, CIVIL UNREST, RIOTS, FIRE, LOCKOUTS, EXPLOSION, COLLISION,
            WEATHER CONDITIONS, DANGERS INCIDENT TO THE SEA, MECHANICAL OR
            CONSTRUCTION FAILURES OR DIFFICULTIES, DISEASES, FOOD OR WATER
            POISONING, ILLNESS, DEATH, ABNORMAL CONDITIONS OR DEVELOPMENTS,
            CLOSURE OF AIRPORTS/SEAPORTS/HOTELS/TRAIN STATIONS, CARRIER OR
            SUPPLIER LOGISTICAL PROBLEMS, COMPUTER PROBLEMS, STRANDING,
            GROUNDING, PERILS OF THE SEA, RIVERS, CANALS, LOCKS OR OTHER WATERS,
            PERILS OF NAVIGATION OF ANY KIND, THEFT, ACCIDENT TO OR FROM
            MACHINERY, BOILERS, OR LATENT DEFECTS EVEN THOUGH EXISTING AT
            COMMENCEMENT OF THE TRIP, DESERTION OR REVOLT OF CREW, BANKRUPTCY OF
            THE SUPPLIER, OR LOST/DAMAGED/DELAYED LUGGAGE, OR ANY OTHER ACTS
            THAT ARISE AND ARE OUT OF OUR CONTROL.
          </p>
          <p>
            WE HAVE NO LIABILITY AND WILL MAKE NO REFUND IN THE EVENT OF ANY
            DELAY, CANCELLATION, OVERBOOKING, STRIKE, FORCE MAJEURE OR OTHER
            CAUSES BEYOND OUR CONTROL, AND WE HAVE NO RESPONSIBILITY FOR ANY
            ADDITIONAL EXPENSE, OMISSIONS, DELAYS, RE-ROUTING OR ACTS OF ANY
            GOVERNMENT OR AUTHORITY.
          </p>
          <p>
            IN NO EVENT SHALL WE BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE,
            INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF, OR IN
            ANY WAY CONNECTED WITH, YOUR ACCESS TO, DISPLAY OF OR USE OF THIS
            WEBSITE OR OUR SERVICES OR WITH THE DELAY OR INABILITY TO ACCESS,
            DISPLAY OR USE OUR WEBSITE WHETHER BASED ON A THEORY OF NEGLIGENCE,
            CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, AND EVEN IF WE HAVE
            BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
          </p>
          <p>
            IF, DESPITE THE LIMITATION ABOVE, WE ARE FOUND LIABLE FOR ANY LOSS
            OR DAMAGE WHICH ARISES OUT OF OR IN ANY WAY CONNECTED WITH ANY OF
            THE OCCURRENCES DESCRIBED ABOVE, THEN OUR LIABILITY WILL IN NO EVENT
            EXCEED, IN THE AGGREGATE, THE GREATER OF (A) THE SERVICE FEES YOU
            PAID TO US IN CONNECTION WITH SUCH TRANSACTION(S), OR (B)
            ONE-HUNDRED DOLLARS (US$100.00) OR THE EQUIVALENT IN LOCAL CURRENCY.
            THE LIMITATION OF LIABILITY REFLECTS THE ALLOCATION OF RISK BETWEEN
            THE PARTIES. THE LIMITATIONS SPECIFIED IN THIS SECTION WILL SURVIVE
            AND APPLY EVEN IF ANY LIMITED REMEDY SPECIFIED IN THESE TERMS IS
            FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
          </p>
          <p>
            GENERAL - We are acting as an independent contractor and no joint
            venture, partnership or employment relationship exists between you
            and us or our Suppliers as a result of this Agreement or your use of
            our website. We reserve the right at any time to modify this
            Agreement without prior notice to you. Please refer to our website
            at www.vacationswithcharacter.com from time to time to review the
            most current version of the Agreement. Your continued access or use
            of our website or services signifies your acceptance of the
            modifications to the Agreement. You may not assign your rights or
            obligations under this Agreement to any third party. We may
            terminate this Agreement at any time for any reason, and such
            termination shall not affect any right to relief to which we are
            entitled at law or in equity. This Agreement shall be governed by
            the laws of the State of Georgia without regard to its conflicts of
            laws principles. If any provision of this Agreement is found to be
            invalid, illegal or unenforceable, the enforceability of the
            remaining provisions will not in any way be affected or impaired.
          </p>
          <h2>ENTIRE AGREEMENT/MODIFICATION</h2>
          <p>
            This Agreement constitutes the entire agreement between you and VWC,
            its travel agents, affiliates, or employees pertaining to the
            subject matter hereof.
          </p>
          <h2>Updates</h2>
          <p>This policy was last updated on October 22, 2018.</p>
          <p>
            If there are any questions or concerns, please contact us at:<br />
            info@vacationswithcharacter.com USA 800-908-3005
          </p>
        </Article>
      </div>
    </Container>
  </main>
</Layout>

<style>
  .page {
    margin-block: 3rem;
  }
</style>
