---
import Container from "@components/Container.astro";
import Article from "@components/Article.astro";
import Image from "astro/components/Image.astro";

import aboutImage from '@assets/images/cruiseshipWaterslide.jpg';
import Button from "@components/Button.astro";
---

<section class="section">
  <Container>
    <div class="layout">
      <div class="media">
        <Image
          src={aboutImage}
          alt=""
          style={{
            height: 'auto',
          }}
        />
      </div>
      <div class="text">
        <Article>
          <h1>About Us</h1>
          <p>The word "character" can be used to describe many things such as the charm of a city, a beloved life-sized mouse, or Muggle-born boy with wizarding powers. More Importantly having character means you possess honesty, moral and ethical quality, integrity, dedication, creativity and sense of humor. These traits summarize who we are at Vacations with Character® and this is what our agency represents.</p>
          <p>Beyond this we understand the importance of vacations! They're not only fun and relaxing, but healthy for us. They help us recharge and while our minds, bodies and souls personally benefit, our relationships do too. We reconnect and bond all while creating precious and amazing memories that remain with us for a lifetime.</p>
          <p>This is why our team at Vacations with Character® has come together. We recognize every family is a story beyond just people and vacations. We have the experience and expert knowledge plus training to not only help you create an amazing vacation - but one that is tailored to your wishes and dreams, and that you'll cherish forever.</p>
          <p>We are thankful to all of the many families who have put their trust in us for over 16 years and hope you will too. We are "where the fun begins" and we'd love to help you celebrate life — with a vacation! ♥</p>
        </Article>
        <div class="actions">
          <Button href="/">
            Begin the Memories
          </Button>
        </div>
      </div>
    </div>
  </Container>
</section>

<style>
  .section {
    margin-block: 5rem;
  }

  .layout {
    display: grid;
    gap: 3rem;
  }

  .actions {
    margin-top: 1.5rem;
  }

  @media (width > 48rem) {
    .layout {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }
</style>