<div class="article">
  <slot />
</div>

<style is:global>
  .article * + h2 {
    margin-top: 2rem;
  }

  .article * + p,
  .article * + ul,
  .article * + ol {
    margin-top: 0.75rem;
  }
</style>
