<div class="article">
  <slot />
</div>

<style>
  .article :global(* + h2) {
    margin-top: 2rem;
  }

  .article :global(* + p),
  .article :global(* + ul),
  .article :global(* + ol) {
    margin-top: 0.75rem;
  }
</style>
