---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;
---

<a {...Astro.props}>
  <slot />
</a>

<style>
  a {
    display: inline-flex;
    gap: 0.75rem;
    align-items: center;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: hsl(var(--color--white));
    font-size: var(--font-size--lg);
    font-weight: 900;
    text-transform: uppercase;
    background-color: hsl(var(--color--blue--400));
  }

  @media (hover: hover) {
    a {
      transition-property: transform;
      transition-duration: 400ms;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }

    a:hover {
      transform: scale(1.05);
    }
  }
</style>
