---
import Header from '@components/Header.astro';
import Link from '@components/Link.astro';

type Props = {
  title?: string;
};
---

<div class="coming-soon">
  <Header as="h1">
    {Astro.props.title || 'Coming soon'}
  </Header>
  <p>
    This page is coming soon! In the meantime, would you like to <Link
      class="link"
      href="/">return to the home page?</Link
    >
  </p>
</div>

<style>
  .coming-soon {
    margin-block: 3rem;
  }

  .link {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
</style>
