---
type Props = {
  size?: 'xs' | 'sm' | 'md' | 'lg';
};

const { size = 'lg' } = Astro.props;
---

<div class:list={['container', `container--${size}`]}>
  <slot />
</div>

<style>
  .container {
    max-width: min(85vw, var(--_container-max-width, 68rem));
    margin-inline: auto;
  }

  .container--xs {
    --_container-max-width: 48rem;
  }

  .container--sm {
    --_container-max-width: 54rem;
  }

  .container--md {
    --_container-max-width: 68rem;
  }

  .container--lg {
    --_container-max-width: 81.25rem;
  }
</style>
