---
import Button from '@components/Button.astro';
import Container from '@components/Container.astro';
import Scroller from '@components/Scroller.astro';

import DiagonAlleyImage from '@assets/images/diagonAlley.jpg';
import FamilyOnBeachImage from '@assets/images/familyOnBeach.jpg';
import DisneysAulaniImage from '@assets/images/disneysAulaniResort.jpg';
import MomAndDaughterAnimalKingdomImage from '@assets/images/momAndDaughterAnimalKingdom.jpg';
import HogwartsImage from '@assets/images/hogwartsDaytime.jpg';
import familyOnBeachWithShip from '@assets/images/familyOnBeachWithShip.jpg';
import PrincessTianaImage from '@assets/images/princessTiana.jpg';
import DisneyCharactersImage from '@assets/images/disneyCharacters.jpg';
import royalCaribbeanShipAerial from '@assets/images/royalCaribbeanShipAerial.jpg'
import Header from '@components/Header.astro';

const scrollerOneSmallWidths = [312 * 2, 312];
const scrollerOneLargeWidths = [416 * 2, 416];
const scrollerOneSmallSizes = '312px';
const scrollerOneLargeSizes = '416px';

const scrollerOne = [
  {
    src: DisneyCharactersImage,
    alt: 'Goofy, Donald Duck, Mickey Mouse, Minnie Mouse, and Pluto posing for a picture in front of Magic Kindom Castle.',
    widths: scrollerOneLargeWidths,
    sizes: scrollerOneLargeSizes,
  },
  {
    src: DisneysAulaniImage,
    alt: "Off-shore photo of the tropical Disney's Aulani resort, there are two large hotel buildings",
    widths: scrollerOneSmallWidths,
    sizes: scrollerOneSmallSizes,
  },
  {
    src: HogwartsImage,
    alt: 'Hogwarts at Universal Studios; a lush forest covers the lower third of the view.',
    widths: scrollerOneLargeWidths,
    sizes: scrollerOneLargeSizes,
  },
  {
    src: MomAndDaughterAnimalKingdomImage,
    alt: "A mother and daughter wearing Mickey Mouse ears share a loving moment in front of the Tree of Life at Disney's Animal Kingdom.",
    widths: scrollerOneSmallWidths,
    sizes: scrollerOneSmallSizes,
  },
];

const scrollerTwoWidths = [306 * 2, 306];
const scrollerTwoSizes = '306px';

const scrollerTwo = [
  {
    src: DiagonAlleyImage,
    alt: 'View of Diagon Alley at Universal Studios, featuring colorful shopfronts, hanging signs, and a fire-breathing dragon atop Gringotts Bank against a bright blue sky.',
    widths: scrollerTwoWidths,
    sizes: scrollerTwoSizes,
  },
  {
    src: FamilyOnBeachImage,
    alt: 'A woman in a hammock on the beach; in the background, a man and child are playing in the water near the shoreline.',
    widths: scrollerTwoWidths,
    sizes: scrollerTwoSizes,
  },
  {
    src: familyOnBeachWithShip,
    alt: 'Front view of Magic Kingdom Castle on a bright, cloudless day; Minnie Mouse, Minnie Mouse, and Olaf stand on the stage.',
    widths: scrollerTwoWidths,
    sizes: scrollerTwoSizes,
  },
  {
    src: PrincessTianaImage,
    alt: 'Princess Tiana actress sharing a special moment with a young girl; the Magic Kingdom Castle can be seen in the background.',
    widths: scrollerTwoWidths,
    sizes: scrollerTwoSizes,
  },
  {
    src: royalCaribbeanShipAerial,
    alt: 'Aerial shot of a Royal Caribbean ship , showcasing lots of activies on-deck.',
    widths: scrollerTwoWidths,
    sizes: scrollerTwoSizes,
  },
];
---

<div class="cta">
  <Container>
    <div class="card">
      <div class="text">
        <Header as="h2">
          Ready for Adventure?
        </Header>
        <p class="body">
          Start planning the vacation of your dreams with our expert travel agents! From magical destinations to unforgettable experiences, we&apos;ll help you create memories that last a lifetime.
        </p>
        <div class="actions">
          <Button as="a" href="/">Begin the Memories</Button>
        </div>
      </div>
      <div class="column column--one">
        <Scroller propsForImages={scrollerOne} staggerSizes />
      </div>
      <div class="column column--two">
        <Scroller
          propsForImages={scrollerTwo}
          scrollDirection="backwards"
          flushAgainst="right"
        />
      </div>
      <div class="back" aria-hidden="true">
        <span class="shadow" aria-hidden="true"></span>
        <span class="shadow" aria-hidden="true"></span>
        <span class="shadow" aria-hidden="true"></span>
      </div>
    </div>
  </Container>
</div>

<style>
  .cta {
    --gap: 1.5rem;

    margin-top: 10rem;
    margin-bottom: 12rem;
  }

  .card {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
    min-height: 30rem;
    color: hsl(var(--color--blue--900));
    background-color: hsl(var(--color--white));
    border-width: 2px;
    border-style: solid;
    border-color: hsl(var(--color--gray--100));
    border-radius: 2rem;
    overflow: hidden;
  }

  .text {
    grid-column: 1 / span 5;
    align-self: center;
    padding: 4rem;
  }

  .body {
    text-wrap: balance;
  }

  .actions {
    margin-top: 2rem;
  }

  .column--one {
    grid-column: span 4;
  }

  .column--two {
    grid-column: span 3;
  }

  .back {
    position: absolute;
    z-index: -5;
    inset: 0;
  }

  .shadow {
    position: absolute;
    display: block;
  }

  .shadow:nth-child(1) {
    z-index: -5;
    top: -140%;
    left: -30%;
    aspect-ratio: 1;
    width: 900px;
    background-color: #2394d7;
    filter: blur(999px);
    opacity: 7.5%;
  }

  .shadow:nth-child(2) {
    z-index: -10;
    bottom: -20%;
    left: -5%;
    aspect-ratio: 1;
    width: 500px;
    background-color: #46008b;
    filter: blur(9999px);
    opacity: 10%;
  }

  .shadow:nth-child(3) {
    z-index: -5;
    bottom: -10%;
    right: -5%;
    aspect-ratio: 1;
    width: 900px;
    background-color: #007cea;
    filter: blur(9999px);
    opacity: 10%;
  }
</style>
