---
import { BLOG_URL } from '@lib/constants';

import Container from '@components/Container.astro';
import Legal from '@components/Legal.astro';
import Link from '@components/Link.astro';
import Logomark from '@components/Logomark.astro';
import SocialIconList from '@components/SocialIconList.astro';
---

<footer class="footer">
  <Container>
    <div class="wrapper">
      <div class="layout">
        <div class="logo">
          <Logomark />
        </div>
        <div class="links">
          <ul class="links">
            <li class="item">
              <Link href="/about/">About</Link>
            </li>
            <li class="item">
              <Link href={BLOG_URL} target="_blank" rel="noopener noreferrer"
                >Blog</Link
              >
            </li>
            <li class="item">
              <Link href="/contact/">Contact</Link>
            </li>
            <li class="item">
              <Link href="/destinations/">Destinations</Link>
            </li>
            <li class="item">
              <Link href="/careers/">Careers</Link>
            </li>
            <li class="item">
              <Link href="/privacy-policy/">Privacy</Link>
            </li>
            <li class="item">
              <Link href="/terms-and-conditions/">Terms and Conditions</Link>
            </li>
          </ul>
        </div>
        <div class="extras">
          <div class="socials">
            <SocialIconList />
          </div>
          <div>
            (800) 908-3005 <br />
            info@vacationswithcharacter.com
          </div>
        </div>
      </div>
      <Legal />
    </div>
  </Container>
  <div class="back" aria-hidden="true">
    <span class="shadow" aria-hidden="true"></span>
    <span class="shadow" aria-hidden="true"></span>
  </div>
</footer>

<style>
  .footer {
    position: relative;
    z-index: 0;
    font-size: var(--font-size--sm);
  }

  .wrapper {
    background-color: hsl(0 0% 100% / 70%);
    backdrop-filter: blur(32px) saturate(100%);
    padding: 3rem;
    border-radius: 2rem 2rem 0 0;
    border: 2px solid hsl(var(--color--gray--100));
    border-bottom-width: 0px;
  }

  .layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.75rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: hsl(var(--color--gray--100));
  }

  .logo {
    grid-column: 1 / span 8;
    grid-row: 1 / 2;
  }

  .links {
    grid-column: 1 / span 8;
    grid-row: 2 / 3;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    list-style: none;
  }

  .extras {
    grid-column: 9 / span 4;
    grid-row: 1 / 3;
  }

  .socials {
    margin-bottom: 1.5rem;
  }

  .back {
    position: absolute;
    z-index: -5;
    inset: 0;
  }

  .shadow {
    position: absolute;
    display: block;
  }

  .shadow:nth-child(1) {
    z-index: -5;
    bottom: 25%;
    right: 10%;
    aspect-ratio: 2 / 1;
    width: 900px;
    background-color: #008a8b;
    filter: blur(999px) saturate(800%);
    opacity: 10%;
  }

  .shadow:nth-child(2) {
    z-index: -10;
    bottom: 15%;
    left: -10%;
    aspect-ratio: 2 / 1;
    width: 1200px;
    background-color: #af86e1;
    filter: blur(9999px) saturate(800%);
    opacity: 7.5%;
  }
</style>
