<div class="actions">
  <slot/>
</div>

<style>
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
</style>