---
import { Image } from 'astro:assets';

import { QUOTE_URL } from '../lib/constants';
import Badges from './Badges.astro';
import Button from './Button.astro';
import Container from './Container.astro';

import magicKingdomStation from '../assets/images/magicKingdomStation.jpg';
---

<Container>
  <div class="layout">
    <div class="texts">
      <h1>Where the Fun Begins!</h1>
      <p class="paragraph">
        A family-owned full-service travel agency located in and licensed by the
        state of Florida.
      </p>
      <div class="actions">
        <Button href={QUOTE_URL} target="_blank" rel="noopener noreferrer"
          >Get a Quote</Button
        >
      </div>
      <div class="badges">
        <Badges />
      </div>
    </div>
    <div class="media">
      <Image
        class="image"
        src={magicKingdomStation}
        alt="Magic Kingdom station"
        fetchpriority="high"
        loading="eager"
        widths={[1040, 520, 480, 320]}
        sizes="(min-width: 1280px) 520px, (min-width: 768px) calc((85vw - 48px) / 2), 85vw"
      />
    </div>
  </div>
</Container>

<style>
  .layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    margin-block: 6rem;
  }

  .paragraph {
    margin-top: 0.75rem;
    max-width: 40ch;
  }

  .actions {
    margin-top: 2rem;
  }

  .badges {
    margin-top: 3rem;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 2rem;
    box-shadow:
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      100px 100px 80px rgba(0, 0, 0, 0.07);
  }

  @media (width < 48rem) {
    .layout {
      grid-template-columns: 1fr;
    }

    .media {
      grid-row: 1 / 2;
    }
  }
</style>
