<div class="legal">
  <p>
    &copy; Vacations with Character&reg; LLC. All Rights Reserved. No part of
    this website may be reproduced in whole or in part without permission of
    Vacations with Character& LLC. Vacations with Character&reg; LLC is
    registered with the State of Florida as a Seller of Travel: Registration No.
    ST42097. Vacations with Character&reg; does not sell or solicit to residents
    of California.
  </p>
  <p>
    As to artwork, logos and properties: &copy; Disney Destinations, Universal
    Orlando Resorts, Royal Caribbean Cruise Line, Carnival Cruise Line,
    Norwegian Cruise Line, Holland America Line, Princess Cruise Line, & Sandals
    Resorts.
  </p>
</div>

<style>
  .legal {
    max-width: 100ch;
    display: grid;
    gap: 0.75rem;
    opacity: 60%;
  }
</style>
