---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;
---

<a {...Astro.props}>
  <slot />
</a>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>
