---
import Logo from './Logo.astro';
---

<a class="link" href="/" title="Home">
  <Logo />
  <span>Vacations with<br />Character</span>
</a>

<style>
  .link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: inherit;
    font-size: var(--font-size--lg);
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
  }
</style>
