---
import Logo from '@components/Logo.astro';
---

<a class="link" href="/" title="Home">
  <Logo />
  <span>Vacations with<br />Character<span class="tm">&reg;</span></span>
</a>

<style>
  .link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: inherit;
    font-size: var(--font-size--lg);
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
  }

  .tm {
    display: inline-block;
    font-size: 0.75em;
    transform: translate(2px, -4px);
  }
</style>
