---
import Link from "@components/Link.astro";
---

<aside id="mobile-menu" class="aside" aria-hidden="true">
  <ul class="list">
    <li class="item">
      <Link href="/">
        Home
      </Link>
    </li>
    <li class="item">
      <Link href="/about/">
        About
      </Link>
    </li>
    <li class="item">
      <Link href="/destinations/">
        Destinations
      </Link>
    </li>
    <li class="item">
      <Link href="/contact/">
        Contact
      </Link>
    </li>
  </ul>
</aside>

<script>
  (() => {
    const mobileMenu = document.getElementById('mobile-menu')

    if (!mobileMenu) {
      console.error('No mobile menu was found.')
      return
    }

    const hamburgerButton = document.getElementById('hamburger')

    if (!hamburgerButton) {
      console.error('No mobile menu button was found.')
      return
    }

    hamburgerButton.addEventListener('click', function() {
      mobileMenu.setAttribute('aria-hidden', 'false')
    })

    document.addEventListener('click', function(e) {
      const target = e.target
      const isOpen = mobileMenu?.getAttribute('aria-hidden') === 'false'

      if (
        isOpen &&
        target instanceof HTMLElement &&
        !target.closest(`#${mobileMenu.id}`) &&
        !target.closest(`#${hamburgerButton.id}`)
      ) {
        mobileMenu.setAttribute('aria-hidden', 'true')
      }
    })
  })();
</script>

<style>
  .aside {
    position: absolute;
    z-index: 25;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    padding: 1.5rem 0.75rem;
    text-align: center;
    color: hsl(var(--color--white));
    background-color: hsl(var(--color--blue--900));
  }

  .aside[aria-hidden="false"] {
    display: block;
  }

  .list {
    padding: 0;
    list-style: none;
  }
</style>