---
import Button from './Button.astro';
import Container from './Container.astro';
import Link from './Link.astro';
import Logomark from './Logomark.astro';
---

<nav class="nav">
  <Container>
    <div class="layout">
      <Logomark />
      <ul class="items">
        <li class="item">
          <Link href="/"> Home </Link>
        </li>
        <li class="item">
          <Link href="/about/"> About </Link>
        </li>
        <li class="item">
          <Link href="/destinations/"> Destinations </Link>
        </li>
        <li class="item">
          <Link href="/contact/"> Contact </Link>
        </li>
      </ul>
      <div class="buttons">
        <Button href="/contact/">Contact</Button>
      </div>
    </div>
  </Container>
</nav>

<style>
  .nav {
    padding: 1.25rem 0.75rem;
  }

  .layout {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .items {
    display: flex;
    gap: 3rem;
    align-items: center;
    list-style: none;
  }

  .buttons {
    margin-left: auto;
  }

  @media (width < 48rem) {
    .items {
      display: none;
    }
  }
</style>
