---
import Container from './Container.astro';
import Link from './Link.astro';
import Logomark from './Logomark.astro';
---

<nav class="nav">
  <Container>
    <div class="layout">
      <Logomark />
      <ul class="items">
        <li class="item">
          <Link href="/"> Home </Link>
        </li>
        <li class="item">
          <Link href="/about/"> About </Link>
        </li>
        <li class="item">
          <Link href="/destinations/"> Destinations </Link>
        </li>
        <li class="item">
          <Link href="/contact/"> Contact </Link>
        </li>
      </ul>
    </div>
  </Container>
</nav>

<style>
  .nav {
    padding: 0.75rem;
    background-color: hsl(var(--color--blue--400));
    color: hsl(var(--color--white));
  }

  .layout {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
  }

  .items {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
  }
</style>
