---
import SocialIcon from './SocialIcon.astro';
---

<div class="icons">
  <SocialIcon platform="facebook" />
  <SocialIcon platform="instagram" />
  <SocialIcon platform="pinterest" />
</div>

<style>
  .icons {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    align-items: center;
  }
</style>
