---
import Star from '@components/Star.astro';
---

<div class="stars">
  <span class="star">
    <Star />
  </span>
  <span class="star">
    <Star />
  </span>
  <span class="star">
    <Star />
  </span>
  <span class="star">
    <Star />
  </span>
  <span class="star">
    <Star />
  </span>
</div>

<style>
  .stars {
    display: flex;
  }

  .star {
    margin-left: -0.25rem;
  }
</style>
