---
import Defs from '@components/Defs.astro';
import '../styles/global.css';

import Footer from '@components/Footer.astro';
import Navbar from '@components/Navigation.astro';
import SEO from '@components/SEO.astro';
import MobileNavigation from '@components/MobileNavigation.astro';

import type { SEOProps } from '@components/SEO.astro';
import type { Props as NavigationProps } from '@components/Navigation.astro';

type Props = SEOProps & NavigationProps

const { title, description, noindex, floatingMobileNavbar = false } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={title} description={description} noindex={noindex} />
    <link rel="preload" href="/fonts/caveat-brush/caveat-brush-subset.ttf" type="font/ttf"/>
  </head>
  <body class="body-font">
    <Navbar floatingMobileNavbar={floatingMobileNavbar} />
    <MobileNavigation/>
    <main class="main">
      <slot />
    </main>
    <Footer />
    <Defs/>
  </body>
</html>

<style>
  .main {
    position: relative;
    z-index: 5;
  }
</style>
