---
import '../styles/global.css';

import Footer from '@components/Footer.astro';
import Navbar from '@components/Navigation.astro';
import SEO from '@components/SEO.astro';

import type { SEOProps } from '@components/SEO.astro';

type Props = SEOProps;

const { title, description, noindex } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO title={title} description={description} noindex={noindex} />
  </head>
  <body class="body-font">
    <Navbar />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  .main {
    position: relative;
    z-index: 5;
  }
</style>
